body {
  background: #e1e1e1;
}

.headere {
  background: linear-gradient(87deg, #083858 0, #226b9d 100%) !important;
}

.close {
  border: none !important;
  height: 25px;
  width: 25px;
  background-color: #e7e7e7;
  border-radius: 5px;
  padding-right: 35px !important;
  padding-top: 15px !important;
}

.close:hover {
  background-color: #444444;
}

.modal-title {
  font-size: 1rem !important;
}

.modal-body {
  padding-top: 5px !important;
}

.modal-footer {
  padding: 0.25rem !important;
}
